{
  "extends": "@istanbuljs/nyc-config-typescript",
  "check-coverage": true,
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "**/*.spec.ts"
  ],
  "reporter": [
    "lcov",
    "text",
    "text-summary"
  ],
  "report-dir": "coverage"
}
